/* your styles go here */

@font-face {
  font-family : 'avertalight';
  font-style  : normal;
  font-weight : 300;
  src         : url('../fonts/averta-light-webfont.eot');
  src         : url('../fonts/averta-light-webfont.eot?#iefix') format('embedded-opentype'),
                url('../fonts/averta-light-webfont.woff2') format('woff2'),
                url('../fonts/averta-light-webfont.woff') format('woff'),
                url('../fonts/averta-light-webfont.ttf') format('truetype'),
                url('../fonts/averta-light-webfont.svg#avertalight') format('svg');
}

@font-face {
  font-family : 'averta_regular';
  font-style  : normal;
  font-weight : 400;
  src         : url('../fonts/averta-regular-webfont.eot');
  src         : url('../fonts/averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
                url('../fonts/averta-regular-webfont.woff2') format('woff2'),
                url('../fonts/averta-regular-webfont.woff') format('woff'),
                url('../fonts/averta-regular-webfont.ttf') format('truetype'),
                url('../fonts/averta-regular-webfont.svg#averta_regularregular') format('svg');
}

@font-face {
  font-family : 'avertabold';
  font-style  : normal;
  font-weight : 700;
  src         : url('../fonts/averta-bold-webfont.eot');
  src         : url('../fonts/averta-bold-webfont.eot?#iefix') format('embedded-opentype'),
                url('../fonts/averta-bold-webfont.woff2') format('woff2'),
                url('../fonts/averta-bold-webfont.woff') format('woff'),
                url('../fonts/averta-bold-webfont.ttf') format('truetype'),
                url('../fonts/averta-bold-webfont.svg#avertabold') format('svg');
}

@font-face {
  font-family : 'avertablack';
  font-style  : normal;
  font-weight : 900;
  src         : url('../fonts/averta-black-webfont.eot');
  src         : url('../fonts/averta-black-webfont.eot?#iefix') format('embedded-opentype'),
                url('../fonts/averta-black-webfont.woff2') format('woff2'),
                url('../fonts/averta-black-webfont.woff') format('woff'),
                url('../fonts/averta-black-webfont.ttf') format('truetype'),
                url('../fonts/averta-black-webfont.svg#avertablack') format('svg');
}

@font-face {
  font-family : 'UbuntuB';
  src         : url('../fonts/UbuntuB.eot');
  src         : url('../fonts/UbuntuB.eot') format('embedded-opentype'),
                url('../fonts/UbuntuB.woff2') format('woff2'),
                url('../fonts/UbuntuB.woff') format('woff'),
                url('../fonts/UbuntuB.ttf') format('truetype'),
                url('../fonts/UbuntuB.svg#UbuntuB') format('svg');
}

body {
  background-color        : #fff;
  font-family             : "averta_regular",
                            sans-serif;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  letter-spacing          : 0.2px;
}
p, strong, ul {
  font-size: 19px;
  line-height: 32px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color       : #343a40;
  font-family : "avertabold", sans-serif;
}

h6 {
  color: #014e69 !important;
}

strong {
  font-family : "avertabold", sans-serif;
}

.border-light {
  border-color: #af8684 !important;
}

h1,
.h1 {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
  @media (min-width: 992px) {
  h1 {
    font-size: 3.5rem;
  }
}

h1::after {
  margin-top: 5px;
  content: "";
  display: table;
  border-bottom: 6px solid #2368b1;
  width:160px;
}


h3::after {
  margin-top: 5px;
  content: "";
  display: table;
  border-bottom: 6px solid #2368b1;
  width: 30px;

}
@media (min-width: 1400px){
  .content {
    max-width: 800px;
  }
}

.logoital {
  margin-left: 20px;
}

@media (min-width: 544px){
  .logoital svg {
    width: 278px;
  }
}

@media (min-width: 1200px){
  .logoital svg{
    width: 200px;
  }
}

.header {
  background-color: #faf8f5;
  border: 1px solid #f2ece4;
}

/* ===== Background colors ========= */
.bg-green {
  background-color: #09bc8a !important;
}

.bg-greenlight {
  background-color: #8FCB18 !important;
}

.bg-blue {
  background-color: #2368b1 !important;
}

.bg-gray {
  background-color: #575756 !important;
}

.bg-graylight {
  background-color: #f5f5f5 !important;
}

/* ===== Text colors ========= */
.greentext {
  color: #09bc8a !important;
}

.greenlighttext {
  color: #8FCB18 !important;
}

.bluetext {
  color: #2368b1 !important;
}

.graytext {
  color: #575756 !important;
}

.graylighttext {
  color: #f5f5f5 !important;
}

.bluefill{fill:#0487B5;}
.st1{fill:#8FCB18;}
.st2{fill:#00732E;}
.st3{fill:#575756;}


.navbar-nav .nav-link {
  color : #212529;
  font-family : "avertabold", sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
}

@media (min-width: 992px){
  .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

.navbar-nav .nav-link:hover {
  color : #0487B5 !important;
}

nav.navbar.active .navbar-nav .nav-link {
  color : #252424;
}

nav.navbar .navbar-toggler span {
    width: 25px;
    margin: 5px;
    display: block;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}


.usp {
  font-size: 0.9rem;
  letter-spacing: 0;
}

@media (min-width: 992px){
  .usp {
  font-size: 1rem;
  letter-spacing: 0.2px;
  }
}

.space {
  margin-top: 5px;
}

nav.navbar .navbar-toggler span {
    width: 25px;
    margin: 5px;
    display: block;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

nav.navbar .navbar-toggler.active span:nth-of-type(2) {
    opacity: 0 !important;
}

nav.navbar .navbar-toggler.active span:first-of-type {
    -webkit-transform: rotate(45deg) translate(10px)!important;
    transform: rotate(45deg) translate(10px)!important;
}
nav.navbar .navbar-toggler.active span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(10px)!important;
    transform: rotate(-45deg) translate(10px)!important;
}
nav.navbar.active .navbar-brand {
  color : #7c7b7d;
}


.lead {
  font-size: 1.1rem;
}
.tableofcontent {
  margin-top: 210px;
}
.brickHouse {margin: 0; right:0;}
.brickHouse > div { vertical-align: top; }
.btn-slab { display: inline-block; padding-top: 0px;}

.left-extra {
  position: absolute;
  left:-602px;
  top: 175px;
}

.brickHouse .content {
  font-family: "averta_regular";
  background-image: url('../img/purple-trans-90.png');
  background-repeat: repeat;
    line-height: 30px;
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px; 
}

.brickHouse .contentright {
  font-family: "averta_regular";
}

.brickHouse .card-contentOelbert {
    width: 400px;
  }
.brickHouse .card-contentOelbert a::before {
    content: "\f111";
    color: #c1dce5;
    font-size: 0.4rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 12px;
}
.brickHouse.right {
  float: right;
}
.brickHouse.right .card-contentOelbert {
    width: 400px;
  }
.collapsing.width {  -webkit-transition-property: width, visibility;  transition-property: width, visibility;  width: 0;  height: auto;}

 img.extravakken {
  position: absolute;
  left:0;
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.intro {
  font-size: 1.4rem;
}

div[aria-expanded="true"] {
  background-image  : url('../img/trans-20.png');
  background-repeat : repeat;
}
div[aria-expanded="true"] img {
    -webkit-filter: invert(.8);
  filter: invert(.8);
}
.carret {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 20px solid #dee2e6;
      margin: 0 0 0 55px;
}

@media (max-width : 768px) {
  .footer-logo {
    display: table;
    margin: auto;
  }
  .adres {
    text-align: center;
  }
}
@media (min-width : 1201px) {
  .modal-lg {
    max-width : 1200px;
  }

  h5 {
    font-size : 24px;
  }

  p {
    font-size : 19px;
  }
}
.oelbertHighlights {
  padding:4.5rem 0;
}


@media (min-width : 1200px) {
  .strech img {
    max-width : 500px;
  }

  .overlay {
    margin-right : 30px;
  }
}
.headlines img {
  max-width: 70px;
}

.headlines h2 {
  font-size: 1.2rem;
}


.border-right {
  border-right: 2px solid #ddd !important;
}
@media (min-width : 2300px) {
.portfolio img {
  width: 100%;
  }
}
@media (max-width : 992px) {
  .border-right {
    border-right  : none !important;
    border-bottom : 1px solid #ddd;
    padding-top: 18px;
  }
  .kijken .col-lg-3:nth-child(4) {
    padding-top: 18px;
  }
}

footer.main-footer {
  padding        : 2rem 0;
  padding-bottom : 0;
  color          : #252424;
  background     : #fff;
}

@media (min-width : 992px) {
  footer.main-footer {
    padding        : 7rem 0;
  }
}

footer.main-footer h5 {
  color          : #750d68;
  font-weight: 400;
}

footer.main-footer a {
  color          : #252424;
}

.footer-heading-special {
  color       : #750d68;
  font-family : "UbuntuB",
                sans-serif;
  font-size   : 2.8rem;
  font-style  : italic;
}

@media (max-width : 1200px) {
  .column {
    display: flex;
    flex-direction: column;
  }
  .quotes {
    order:3;
  }
  .quotes.bg-primary {
    background-color: #cbd300 !important;
  }
  .begeleiding {
    order:2;
  }
  .uitdagend {
    order:1;
  }
}

  @media (min-width: 576px){
  .modal-dialog.Big {
      max-width: 600px;
      margin: 1.75rem auto;
    }
  }
  .btn {
      font-size: 13px;
      border-radius: 5px;
      padding: 0.45rem 1.4rem;
  }

  @media (min-width: 576px){
    .btn {
        font-size: 0.92rem;
        padding: 0.45rem 2.4rem;
    }
  }
  @media (max-width: 991.98px) {
    .navbar-brand img {
      position: absolute;
      width: 11rem;
      top: 5px;
    }
    .topheadlines {
      margin-top: 70px;
    }

  }

.btn {
  border: 2px solid #0487B5;
  letter-spacing: 0;
  font-family: "avertabold", sans-serif;
  letter-spacing: 0.1px;
}

.btn:hover {
  background-color: #0487B5 ;
  color: #fff;
}

button {border: 0px solid #888; outline: none; background: transparent; line-height: 20px; cursor: pointer; font-size: 24px; color: #fff; outline: none;}
button:hover {color: #750d68}
.item {margin: 0; text-align: center; vertical-align: top; font-size: 0;}
.box {width: 100%; height: 100px; font-size: initial; overflow: hidden;}
.box .side {color: #fff; text-align: center; user-select: none; line-height: 100px;}
.box h2 {display: inline-block; vertical-align: middle; margin: 0; padding: 0}
.video, .side3 {
  background-image: url('../img/orange-bg-trans.png');
  background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0
}
.fa-play-circle {
  font-size: 50px;
  vertical-align: middle;
}

.test1 {
  background-image: url('../img/orange-bg-trans.png');
  background-repeat: repeat;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0
}

.test2 {
  background-image: url('../img/orange-bg-trans.png');
  background-repeat: repeat;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0
}



.navNext {
    width: 2%;
    position: absolute;
    right: 20px;
    top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    color:#fff;
}
.navPrev {
    width: 2%;
    position: absolute;
    left: 20px;
    top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    color:#fff;
}
.navTop {
    background-image: url('../img/orange-bg-trans.png');
    background-repeat: repeat;
    width: 15%;
    position: absolute;
    left: 0;
    right:0;
    top: -43px;
    padding: 10px;
    color:#fff;
    margin: auto;
}

button:focus {outline:0;}

/* =====================================================
     FOOTER
 ===================================================== */
.main-footer {
  padding: 3rem 0;
}

@media (min-width : 1600px) {
  .main-footer {
    background-size: 100%;
  }
}

@media (min-width : 1900px) {
  .main-footer {
    background-size: cover;
  }
}

.main-footer a {
  color: #fff;
}

.copyrights {
  font-size: 0.9rem;
}

.copyrights-text {
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.navbar {
  width: 100%;
}

.navbar-nav .nav-item {
  float: left;
}